{% extends 'layouts/admin.html.twig' %}

{% block main %}
    <h1>Ajout d'un nouvel article </h1>
    <form action="" class="post-form">
        <div class="form-group">
            <label for="name">Titre:</label>
            <input type="text" name="name" id="name" placeholder="le titre de l'article">
        </div>

        <div class="form-group">
            <label for="slug">Slug:</label>
            <input type="text" name="slug" id="slug" placeholder="le slug de l'article">
        </div>

        <div class="form-group">
            <textarea name="body" id="body">Le contenu</textarea>
        </div>
    </form>
{% endblock %}