{% extends 'layouts/default.html.twig' %}

{% block title %}Bienvenue sur le blog{% endblock %}	

{% block body %}
	
	<div class="hero">
		<div class="container">
		    <h1 class="hero-title">Apprenez a etre autonome</h1>
		    <p>Améliorez-vous et apperenz a etre autonome dans le domaine de l'informatique grace à notre <i>blog</i></p>
		    <a href="/blog" class="btn-outline"><i class="fab fa-blogger"></i> &nbsp;Voire les articles</a>
		</div>
	</div>
	
	<div class="container">
		<h2 style="text-align:center;">Les derniers artiles du <i>blog</i></h2>
		<section class="articles">
			<article class="article">
				<img src="http://placehold.it/402x224" alt="">
				<div class="article-text">
					<p class="article-meta">12 decembre 2018</p>
				    <h3 class="article-title">Le titre de l'article</h3>
				    <span class="article-separator"></span>
				    <div class="article-comments">
				    	<span><i class="far fa-thumbs-up"></i>&nbsp;Like</span>
				    	<span><i class="fas fa-comments"></i>&nbsp;Commentaire</span>
				    	<span><i class="fas fa-clock"></i>&nbsp;10 Minutes</span>
				    </div>
				</div>
			</article>

			<article class="article">
				<img src="http://placehold.it/402x224" alt="">
				<div class="article-text">
					<p class="article-meta">12 decembre 2018</p>
				    <h3 class="article-title">Le titre de l'article</h3>
				    <span class="article-separator"></span>
				    <div class="article-comments">
				    	<span><i class="far fa-thumbs-up"></i>&nbsp;Like</span>
				    	<span><i class="fas fa-comments"></i>&nbsp;Commentaire</span>
				    	<span><i class="fas fa-clock"></i>&nbsp;10 Minutes</span>
				    </div>
				</div>
			</article>

			<article class="article">
				<img src="http://placehold.it/402x224" alt="">
				<div class="article-text">
					<p class="article-meta">12 decembre 2018</p>
				    <h3 class="article-title">Le titre de l'article</h3>
				    <span class="article-separator"></span>
				    <div class="article-comments">
				    	<span><i class="far fa-thumbs-up"></i>&nbsp;Like</span>
				    	<span><i class="fas fa-comments"></i>&nbsp;Commentaire</span>
				    	<span><i class="fas fa-clock"></i>&nbsp;10 Minutes</span>
				    </div>
				</div>
			</article>

		   
		</section>
	</div>

{% endblock %}