<header class="topbar">
   	<a href="/" class="topbar-logo">

   	    <img src="/assets/images/logo.png" alt="le logo du site" title="le log du site" width="50" height="50">
    </a>
    
   	<nav class="topbar-menu">
        <a href="/blog">Blog</a>
        <a href="/contact">contact</a>
        <a href="/about">A-propos</a>
        <a href="/services">Services
            <div class="dropdown">
                <button class="dropdown-btn"><i class="fas fa-sort-down"></i></button>
                <div class="dropdown-menu">
                    <a href="">Disign</a>
                    <a href="">Web Service</a>
                    <a href="">Security</a>
                </div>
            </div>
        </a>
   	</nav>

   	<div class="topbar-menu-right">
   	    <a href="sign_up">Inscription</a>
   	    <a href="sign_in">Connexion</a>
   	</div>
</header>